.tabs {
    background-color: blue;
}

.tabNav {
    background-color: red;
}

.tabList {
    background-color: aqua;
}

.tabList li {
    display: inline;
    padding: 3px;
}

.tabList button {
    color: red;
}