.tabs {
    background-color: blue;
}

.tabNav {
    background-color: red;
}

.tabList {
    display: flex;
    background-color: aqua;
    justify-content: space-around;
}

.tabList li {
    display: inline;
}

.tabList button {
    border: 1px solid;
    background-size: 200%;
    transition: 0.5s ease;
    border-radius: 25%;
}

.DnD5eBtn {
    color: white;
    background-image: linear-gradient(to right, red 0%, black 25%, red 45%, white 50%, red 55%, black 75%, red 100%);
}

.personaBtn {
    color: white;
    background-image: linear-gradient(to right, blue 0%, purple 25%, rgb(70, 5, 70) 45%, white 50%, rgb(70, 5, 70) 55%, purple 75%, blue 100%);
}

.motwBtn {
    color: red;
    background-image: linear-gradient(to bottom, green 0%, orange 25%, brown 45%, white 50%, brown 55%, orange 75%, green 100%);
    background-position: center top;
    background-size: 400%;
}

.magicAcademyBtn {
    color: rgb(17, 235, 17);
    background-image: linear-gradient(to right, blue 0%, rgb(0, 102, 255) 25%, rgb(5, 245, 213) 45%, white 50%, rgb(5, 245, 213) 55%, rgb(0, 102, 255) 75%, blue 100%);
}

.tabList button:hover {
    background-position: right center;
}

.motwBtn:hover {
    background-position: center bottom;
}