.tabs {
    background-color: blue;
}

.tabNav {
    background-color: red;
}

.tabList {
    display: flex;
    background-color: aqua;
    justify-content: space-between;
}

.tabList li {
    display: inline;
}

.tabList button {
    color: red;
    background-image: linear-gradient(blue, purple);
    border: 1px solid;
}