.tabs {
    background-color: blue;
}

.tabNav {
    background-color: red;
}

.tabList {
    display: flex;
    background-color: aqua;
    justify-content: space-around;
}

.tabList li {
    display: inline;
}

.tabList button {
    border: 1px solid;
    background-size: 200%;
    transition: 0.5s ease;
}

.DnD5eBtn {
    color: black;
}

.personaBtn {
    color: red;
    background-image: linear-gradient(to right, blue 0%, purple 25%, rgb(70, 5, 70) 45%, white 50%, rgb(70, 5, 70) 55%, purple 75%, blue 100%);
}

.tabList button:hover {
    background-position: right center;
}